body {
    font-family: $semibold;
    color: #333;
}

img {
    max-width: 100%;
}

.container {
    @mixin atXL {
       max-width: 1170px; 
    }
}

p {
    font-size: $px12;
    
    @mixin atXS {
        font-size: $px18;
    }
}

