$sand: #f9f0dd;
$sand-l: #faf5ea;
$sand-d: #e9e3d5;
$sand-d2: #ddd1a6;
$sand-d3: #e6bc6c;
$yellow: #ffde00;
$yellow-l: #fff196;
$violet: #4a5175;
$violet-d: #171a2c;
$red: #c40000;
$red-l: #f24841;
$red-l2: #ca5c52;
$green: #4f824a;
$orange: #f99b1d;

$light: "MuseoSans-100";
$normal: "MuseoSans-300";
$semibold: "MuseoSans-700";
$bold: "MuseoSans-900";

$px9: 0.5625rem;
$px10: 0.625rem;
$px12: 0.75rem;
$px14: 0.875rem;
$px16: 1rem;
$px18: 1.125rem;
$px20: 1.25rem;
$px21: 1.3125rem;
$px24: 1.5rem;
$px28: 1.75rem;
$px32: 2rem;
$px36: 2.25rem;
$px42: 2.625rem;
$px43: 2.6875rem;
$px54: 3.375rem;
$px64: 4rem;
$px88: 5.5rem;