$sand: #f9f0dd;
$sand-l: #faf5ea;
$sand-d: #e9e3d5;
$yellow: #ffde00;
$yelllow-l: #fff196;
$violet: #4a5175;
$violet-d: #171a2c;
$red: #c40000;
$red-l: #f24841;
$red-l2: #ca5c52;
$green: #4f824a;

$light: "MuseoSans-100";
$normal: "MuseoSans-300";
$semibold: "MuseoSans-700";
$bold: "MuseoSans-900";

$px12: 0.75rem;
$px14: 0.875rem;
$px16: 1rem;
$px18: 1.125rem;
$px20: 1.25rem;
$px28: 1.75rem;
$px54: 3.375rem;