.col {
    &--sm-dwn-static {
        @mixin atM-down {
            position: static;
        } 
    }
      
    &--sm-gutters {
        padding: 0 3px;
        
        @mixin atXS {
            padding: 0 5px;
        }
        
        @mixin atM {
            padding: 0 10px;
        }
        
        @mixin atL {
            padding: 0 15px;
        }
    } 
    
    &--flex {
        display: flex;
        
        > div {
            flex: 1 1 0;
        }
    }
} 