.site-header {
    position: relative;
    height: 80px;
    background: #fff;
    
    @mixin atM {
        height: auto;
        background: $sand;
        padding-top: 14px;
    } 
    
    @mixin atXL {
        height: 80px;
    } 
    
    
    &__logo {
        height: 80px;
        padding: 15px 0;
        
        @mixin atM {
            padding: 12px 0 0;
            height: auto;
        } 
        
        @mixin atL {
            padding: 11px 0 0;
        } 
        
        @mixin atXL {
            padding: 0;
        } 
        
        .icon {
            display: block;
            transform: scale(0.82);
            transform-origin: left;
            
            @mixin atXS {
                transform: scale(1.26);
            } 
            
            @mixin atM {
                transform: scale(1);
            } 
        }
    }
    
    &__menu-icon {
        width: 20px;
        height: 18px;
        position: absolute;
        top: 32px;
        right: 15px;
        z-index: 10;
        
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background-color: $violet;
            height: 4px;
            width: 20px;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }
        
        &__middle {
            position: absolute;
            left: 0;
            top: 7px;
            background-color: $violet;
            height: 4px;
            width: 20px;
            transition: all .3s ease-out;
            transform-origin: 0 50%;

        }
        
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $violet;
            height: 4px;
            width: 20px;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }
        
        @mixin atM {
            display: none;
        }
    }
    
    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.12);
        }
        
        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }
        
        &::after {
            transform: rotate(-45deg) scaleX(1.12) ;
        }
        
    }
    
    &__menu {
        background: rgba(#2e3454, 0.9);
        position: absolute;
        z-index: -1;
        opacity: 0;
        top: 80px;
        left: 0;
        width: 100%;
        padding: 60px 37px 110px;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;
        
        @mixin atM {
            background: transparent;
            position: static;
            padding: 0;
            opacity: 1;
            z-index: 2;
            visibility: visible;
        }
        
        &--is-visible {
            opacity: 1;
            z-index: 2;
            visibility: visible;
            transition-delay: 0s;
        }
        
        
    }
    
    &__phone {
        font-family: $bold;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15), inset 1px 1px 5px rgba(0, 0, 0, 0.16);
        border-radius: 20px;
        border: 2px solid #ffffff;
        background-color: $red;
        color: #fff !important;
        display: inline-block;
        padding: 7px 28px;
        text-decoration: none;
        transition: all .3s;
        
        @mixin atM {
            float: right;
            margin-bottom: 8px;
        }
        
        @mixin atM {
            float: right;
            margin-bottom: 10px;
        }
        
        @mixin atXL {
            margin-top: 5px;
            margin-bottom: 0;
        }
        
        &:hover {
            background-color: $red-l;
            text-decoration: none;
        }
        
    }
    
    
    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        height: 60px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
        
        @mixin atM {
            height: 80px;
        }
        
        .site-header__logo {
            padding: 4px 0;
            height: 60px;
            
            @mixin atM {
                padding: 0;
            }
            
            .icon {
               transform: scale(0.82);
            }
        }
        
        .site-header__menu {
            @mixin atM {
                padding-top: 12px;
            }
            
            @mixin atXL {
                padding-top: 0;
            }
        }
        
        .site-header__menu-icon {
            top: 22px;
        }
        
        .site-header__phone {
            display: none !important;
            
            @mixin atXL {
                display: block !important;
            }
        }
        
        .primary-nav > ul > li {
            padding-bottom: 26px;
            
            @mixin atXL {
                padding-bottom: 26px;
            }
        }
        
        .site-header__menu--is-visible {
            top: 60px;
            overflow-y: none;
            padding-bottom: 0;
            padding-top: 0;
            height: 300px;
            
            .primary-nav {
                height: 300px;
                display: block;
            }
            
            ul {
                height: 300px;
                padding-top: 50px;
                padding-bottom: 0;
                overflow-y: auto;
            }
            
            li:last-child {
            }
        }
        
    }
}

